[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "virtme-ng"]
	path = virtme-ng
	url = https://github.com/arighi/virtme-ng
[submodule "mkosi"]
	path = mkosi
	url = git@github.com:systemd/mkosi.git
